<launch>
  <arg name="bagfile" default="/home/moritz/test.bag"/>
  <node name="turtlebot3_recorder" pkg="rosbag" type="record" args="record /imu /move_base/goal /gazebo/model_states /move_base/status -O $(arg bagfile)" />
  <node name="turtlebot3_waypoints" pkg="ai_classifier_node" type="turtlebot3_waypoints.py" output="screen"/>
</launch>

